<div class="box">
  <div class="box-1">
    <div class="titulo">
      <img src="/assets/img/icon_portafolio.png">
      <span>Mercado de Capitales</span>
    </div>
    <div class="horario">
      <span class="horario">Mercados cerrarán en  1 hr 54 min</span>
    </div>
  </div>
  <div class="box-1">
    <div>
      <span class="saldo">SALDO DISPONIBLE:</span>
      <span class="saldo-dinero"> $1,846,746.29</span>
    </div>
    <div class="horario">
      <span>Todas</span>
      <span class="favoritas">| <i class="material-icons">star_border</i> Emisoras favoritas</span>
    </div>
  </div>

  <div class="table-responsive">
    <div class="table">
      <mat-table [dataSource]="dataCapitales" matSort matSortActive="emisora" matSortDirection="asc"
                 matSortDisableClear>
        <ng-container matColumnDef="emisora">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Emisora</mat-header-cell>
          <mat-cell *matCellDef="let capital"><a class="pointer" (click)="modalEmisora()">{{ capital.emisora }}</a></mat-cell>
        </ng-container>
        <ng-container matColumnDef="precio_cierre">
          <mat-header-cell *matHeaderCellDef>Precio Cierre</mat-header-cell>
          <mat-cell *matCellDef="let capital">{{ capital.precio_cierre }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="precio_ultimo">
          <mat-header-cell *matHeaderCellDef>Precio Último</mat-header-cell>
          <mat-cell *matCellDef="let capital">{{ capital.precio_ultimo }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="precio_variacion">
          <mat-header-cell *matHeaderCellDef>% Var</mat-header-cell>
          <mat-cell class="positivo" *matCellDef="let capital">{{ capital.precio_variacion }} <i class="material-icons">arrow_drop_up</i> </mat-cell>
        </ng-container>
        <ng-container matColumnDef="precio_compra">
          <mat-header-cell *matHeaderCellDef>Precio Compra</mat-header-cell>
          <mat-cell *matCellDef="let capital">{{ capital.precio_compra }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="precio_venta">
          <mat-header-cell *matHeaderCellDef>Precio Venta</mat-header-cell>
          <mat-cell *matCellDef="let capital">{{
            capital.precio_venta }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="volumen">
          <mat-header-cell *matHeaderCellDef>Volumen</mat-header-cell>
          <mat-cell *matCellDef="let orden">{{ orden.volumen }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="maximo">
          <mat-header-cell *matHeaderCellDef>Máximo</mat-header-cell>
          <mat-cell *matCellDef="let orden">{{ orden.maximo }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="minimo">
        <mat-header-cell *matHeaderCellDef>Mínimo</mat-header-cell>
        <mat-cell *matCellDef="let orden">{{ orden.minimo }}</mat-cell>
      </ng-container>
        <ng-container matColumnDef="favorita">
          <mat-header-cell *matHeaderCellDef>Favorita</mat-header-cell>
          <mat-cell *matCellDef="let orden;">
            <i class="material-icons pointer centrado verde fav_icon" (click)="toggle(orden)">{{ star_icon(orden.favorita) }}</i>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
  </div>
</div>

<div id="modal_mercado" class="modal fade mercado_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal1">
      <div class="modal-content modalbordeizquierda">
        <div class="generalmodalfi">
            <div class="divonemodalfi">
              <p class="texto1modal">Alfa A</p>
              <span class="texto2modal">Alfa Financial Software Holdings PLC</span>
              <p class="texto_operaciones" (click)="modal_tablas()">OPERACIONES MÁS RECIENTES</p>
              <input type="date" class="date" placeholder="05/DIC">
              <div class="grafica_modal">
                <canvas id="myChart" width="250px" height="150px"></canvas>
              </div>
            </div>
            <div class="divtwomodalfi">
              <!-- <form [formGroup]="fondoinversion1Form" (ngSubmit)="onSubmit()"> -->
              <div>
                <button class="btn btn-warning">COMPRA</button>
                <button class="btn btn-outline-secondary">VENTA</button>
              </div>
              <label>TIPO DE ORDEN</label>
                <!-- <mat-form-field class="example-full-width"> -->
                <select>
                  <option value="mercado">MERCADO</option>
                  <option value="apertura">APERTURA</option>
                  <option value="cierre">CIERRE</option>
                </select> <br>
                <!-- </mat-form-field> -->
                <label>TÍTULOS</label>
                <input class="input_form" type="text" pattern="[0-9]+[.]?[0-9]+" placeholder="100">
                <label>PRECIO COMPRA</label>
                <input class="input_form" type="text" pattern="[0-9]+[.]?[0-9]+" placeholder="130.25">
                <div>
                    <button class="btn btn-success btn-comprar-modal"  (click)="confirmarModal()" >ENVIAR</button>
                </div>
              <!-- </form> -->
            </div>
            <div class="divthreemodalfi">
              <div>
                <p>Saldo disponible</p>
                <p>$1,846,746.29</p>
              </div>
              <div class="footer">
                <p>Monto: <span>$13,025</span></p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

<modal-confirmacion identificador="miOtroModal">
    <div class="caja_reportes">
        <div class="reportes-heading">
            <span class="reportes">ALFA A</span>
            <span class="privado">Alfa Financial Software Holdings PLC</span>
        </div>
       <div class="tipo_orden">
         <span>Tipo de orden: </span>
         <span class="mercado">Mercado</span>
       </div>
        <div class="reportes-content">
          <table class="tabla">
            <tr>
              <th>TÍTULOS</th>
              <th>PRECIO</th>
              <th>MONTO</th>
              <th>COMISIÓN</th>
              <th>IVA</th>

            </tr>
            <tr>
              <td>100</td>
              <td>$130.25</td>
              <td>$13,025</td>
              <td>$100</td>
              <td>$180</td>
            </tr>
          </table>

        </div>
        <div class="reportes-total">
            <span>TOTAL: $12,845.00</span>
        </div>
    </div>
    <div class="modal_footer">
      <div>
        <span>La vigencia de tu operación es de hoy <span>12/12/18</span> al cierre de mercado</span>
      </div>
    </div>
</modal-confirmacion>

<div id="modal_tablas" class="modal fade mercado_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal1">
    <div class="modal-content modalbordeizquierda">
      <div>
        <button class="regresar" (click)="regresar()"> <span class="left_arrow">⟨</span> Regresar</button>
      </div>
      <div class="generalmodalfi">
        <br>
        <div class="divonemodalfi">
        <p class="titulo_tabla">Operaciones más recientes</p>
          <app-operaciones-recientes-tabla></app-operaciones-recientes-tabla>
        </div>
        <div class="divtwomodalfi">


        </div>
        <div class="divthreemodalfi">

        </div>
      </div>
    </div>
  </div>
</div>
