<div class="box">
  <div class="box-1">
    <div class="titulo">
      <img src="/assets/img/icon_portafolio.png">
      <span>Mercado de Capitales</span>
    </div>
    <div class="horario">
      <span class="horario">Mercados cerrarán en  1 hr 54 min</span>
    </div>
  </div>
  <div class="box-1">
    <div>
      <span class="saldo">SALDO DISPONIBLE:</span>
      <span class="saldo-dinero"> $1,846,746.29</span>
    </div>
    <div class="horario">
      <span>Todas</span>
      <span class="favoritas">| <i class="material-icons">star_border</i> Emisoras favoritas</span>
    </div>
  </div>

  <div class="table-responsive">
    <div class="table">
      <mat-table [dataSource]="dataCapitales" matSort matSortActive="emisora" matSortDirection="asc"
                 matSortDisableClear>
        <ng-container matColumnDef="emisora">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Emisora</mat-header-cell>
          <mat-cell *matCellDef="let capital"><a class="pointer"data-toggle="modal" data-target=".mercado_modal">{{ capital.emisora }}</a></mat-cell>
        </ng-container>
        <ng-container matColumnDef="precio_cierre">
          <mat-header-cell *matHeaderCellDef>Precio Cierre</mat-header-cell>
          <mat-cell *matCellDef="let capital">{{ capital.precio_cierre }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="precio_ultimo">
          <mat-header-cell *matHeaderCellDef>Precio Último</mat-header-cell>
          <mat-cell *matCellDef="let capital">{{ capital.precio_ultimo }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="precio_variacion">
          <mat-header-cell *matHeaderCellDef>% Var</mat-header-cell>
          <mat-cell class="positivo" *matCellDef="let capital">{{ capital.precio_variacion }} <i class="material-icons">arrow_drop_up</i> </mat-cell>
        </ng-container>
        <ng-container matColumnDef="precio_compra">
          <mat-header-cell *matHeaderCellDef>Precio Compra</mat-header-cell>
          <mat-cell *matCellDef="let capital">{{ capital.precio_compra }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="precio_venta">
          <mat-header-cell *matHeaderCellDef>Precio Venta</mat-header-cell>
          <mat-cell *matCellDef="let capital">{{
            capital.precio_venta }}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="volumen">
          <mat-header-cell *matHeaderCellDef>Volumen</mat-header-cell>
          <mat-cell *matCellDef="let orden">{{ orden.volumen }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="maximo">
          <mat-header-cell *matHeaderCellDef>Máximo</mat-header-cell>
          <mat-cell *matCellDef="let orden">{{ orden.maximo }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="minimo">
        <mat-header-cell *matHeaderCellDef>Mínimo</mat-header-cell>
        <mat-cell *matCellDef="let orden">{{ orden.minimo }}</mat-cell>
      </ng-container>
        <ng-container matColumnDef="favorita">
          <mat-header-cell *matHeaderCellDef>Favorita</mat-header-cell>
          <mat-cell *matCellDef="let orden;">
            <i class="material-icons pointer centrado verde fav_icon" (click)="toggle(orden)">{{ star_icon(orden.favorita) }}</i>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>


    </div>
  </div>
</div>

<div class="modal fade mercado_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal1">
      <div class="modal-content modalbordeizquierda">
        <div class="generalmodalfi">
            <div class="divonemodalfi">
              <p class="texto1modal">Alfa A</p>
              <span class="texto2modal">Alfa Financial Software Holdings PLC</span>
              <div class="">
                <canvas id="myChart" width="200px" height="200px"></canvas>
              </div>
            </div>
            <div class="divtwomodalfi">
              <!-- <form [formGroup]="fondoinversion1Form" (ngSubmit)="onSubmit()"> -->
              <div>
                <button class="btn btn-warning">COMPRA</button>
                <button class="btn btn-outline-secondary">VENTA</button>
              </div>
              <label>TIPO DE ORDEN</label>
                <!-- <mat-form-field class="example-full-width"> -->
                <select>
                  <option value="mercado">MERCADO</option>
                  <option value="apertura">APERTURA</option>
                  <option value="cierre">CIERRE</option>
                </select> <br>
                <!-- </mat-form-field> -->
                <label>TÍTULOS</label>
                <input type="text" placeholder="100">
                <label>PRECIO COMPRA</label>
                <input type="text" placeholder="130.25">
                <div>
                    <button class="btn btn-success btn-comprar-modal" data-dismiss="modal" data-toggle="modal" data-target="#enviosuccess">ENVIAR</button>
                </div>
              <!-- </form> -->
            </div>
            <div class="divthreemodalfi">
              <div>
                <p>Saldo disponible</p>
                <p>$1,846,746.29</p>
              </div>
              <div class="footer">
                <p>Monto: <span>$13,025</span></p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="enviosuccess" tabindex="-1" role="dialog" aria-labelledby="miModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="titulo-modal">
            <span><i class="material-icons verde">check_circle</i> Envío exitoso</span>
          </div>
          <div class="contenido">
            <p>Operación registrada con éxito</p>
            <p>Folio: 87652</p>
          </div>
          <div class="reportes-footer">
            <button class="btn btn-success btn-radius" data-dismiss="modal">Confirmar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
