.box{
  background-color: white;
  box-shadow: 1px 2px 10px #aaaaaa;
  margin-right: 50px;
  margin-left: 50px;
  padding: 5px 5px;
  flex: 2;
}
.box-1{
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-right: 20px;
}
.titulo{
  font-family: OpenSans-Bold;
  font-size: 30px;
}
.horario{
  font-family: OpenSans-SemiBold;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row;
}
.favoritas{
  display: flex;
  align-content: center;
  color: #5f995a;
  font-size: 16px;
}
.saldo{
  font-size: 16px;
  font-family: OpenSans-Regular;
  padding-left: 50px;
}
.saldo-dinero{
  font-family: OpenSans-SemiBold;
}

mat-table{
  margin: 0 20px;
}

mat-header-row{
  background-color: #f5f5f5;
  border: none;
}

mat-row:nth-child(odd){
  background-color: #f5f5f5;
}

.fav_icon{
  color: #49aa43;
}


mat-header-cell{
  font-family: OpenSans-Bold;
  font-size: 14px;
  color: black;
  text-align: center;
}

mat-cell{
  font-family: OpenSans-Regular;
  font-size: 14px;
  color: black;
  text-align: center;
  justify-content: center;
}
.positivo{
  color:#00863b;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.negativo{
  color:#e5212f;
  display: flex;
  align-items: center;
  justify-content: center;
}


.pointer{
  cursor: pointer;
}

.centrado{
  display: flex;
  justify-content: center;
}

.verde{
  color: #49aa43;
}
