
#ComprarVender{
    background: #204073;
    position: fixed;
    top: 180px;
    right: 35px;
    color: white;
    border-radius: 7px 0px 0px 7px;
    width: 82px;
    height: 112px;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
}

#ComprarVenderModal{
    background: #204073;
    width: 82px;
    height: 112px;
    top: 0px !important;
    position: fixed;
    left: -82px;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    border-radius: 7px 0px 0px 7px;
    color: white;
    z-index: 99999999999;
}

.modal-hover{
    
    right: -1000px !important;
    overflow-y: auto;
    overflow-x: auto;
    
}


.modal-content{
    width: 400px;
    padding: 10px;
}

.selecciona{
    margin-bottom: 1px;
}

.moneyfixed{
    font-size: 47px;
}

.textoCV{
    margin-bottom: 0rem;
    line-height: 13px;
}

.arrows{
    font-size: 30px;
}

.botonesModal3{
    width: 30%;
    font-size: 12px;
    padding-bottom: 2px;
    padding-top: 2px;
    color: black;
}



.botonesModal3:hover{
    color: white;
}


.botonesModal31{
    border-radius: 5px 0px 0px 5px !important;
}

.botonesModal32{
    border-radius: 0px 0px 0px 0px !important;
}

.botonesModal33{
    border-radius: 0px 5px 5px 0px !important;
}

.botonesModal2{
    font-size: 12px;
    color: grey;
}

.botonesModal21{
    border: 1px solid #ffc107;
    border-radius: 5px 0px 0px 5px;
}

.botonesModal22{
    border: 1px solid grey;
    border-radius: 0px 5px 5px 0px;
}

.centrarBotones{
    justify-content: center;
}

.botones2{
    margin-top: 20px;
}

.firsttwo{
    width: 80%;
}

select{
    margin: 10px 0px;
    display: block;
    background: transparent;
    border: none;
    border-bottom: 1px solid #949494;
    outline: none;
    color: #949494;
    margin-top: 25px;
    width: 80%;
    font-family: OpenSans-Regular;
    font-size: 17px;
    margin-bottom: 25px;   
}


.mitad{
    width: 50%;
}

.monto{
    margin-left: 45px;
}

.botonenviar{
    justify-content: center;
}

.enviar{
    border-radius: 20px;
    width: 40%;
}

.tituloModal{
    font-size: 28px;
    font-weight: bold;
}

.bold{
    font-weight: bold;
}

select{
    -moz-appearance: none;
    -webkit-appearance: none;
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: #267349;
    padding: 0px 4px; 
    outline: none;
    background: transparent url(/assets/img/icon_arrowDown_verde.png) right center / 1.4em no-repeat;
    border: none;
    border-bottom: 1px solid #7a7a7a;
    margin-right: 10px;
    
}

.modaltamano{
    height: 547px !important;
}

.botonSeleccionado{
    background: #00853e;
    color: white;   
}

.formulario2{
    line-height: 50px !important;
} 

.formulario3{
    line-height: 60px !important;
}


.modal{
    filter: blur(0px) !important;
}

.fondo{
    background: red;
}

.flex{
    display: flex;
    text-align: center;
}

.cuarto{
    width: 25% !important;
}

.backgroundGris{
    background-color: #efefef;
    text-align: center;
    color: green;
    margin-top: 0px;
    font-weight: bold;
    font-size: 20px;
}

.border{
    border: 1.4px solid #fefefe;
    padding: 10px 20px 5px 20px;
}

.vigencia{
    font-size: 10px;
    text-align: center;
}

.textolateralconfirmacion{
    position: absolute;
    left: 0px;
    background: #fbd437;
    border-radius: 0px 20px 20px 0px;
    padding: 1px 10px;
    top: 23px;
    font-weight: bold;
    font-size: 22px;
  }