<div class="contenedor">
  <div class="box">
      <div class="titulo">
          <img src="/assets/img/icon_portafolio.png">
          <span>Reportes análisis económico y financiero.</span>
      </div>
      <div class="contenedor-content">

        <div class="slides">
            <slide-toogle titulo="1" numero="1" class="slide-child">
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"Reporte 1"</div>
                </div>
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"Reporte 2"</div>
                </div>
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"Reporte 3"</div>
                </div>
            </slide-toogle>
            <slide-toogle titulo="2" numero="2" class="slide-child">
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"Reporte 1"</div>
                </div>
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"Reporte 2"</div>
                </div>
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"Reporte 3"</div>
                </div>
            </slide-toogle>
            <slide-toogle titulo="3" numero="3" class="slide-child">
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"Reporte 1"</div>
                </div>
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"Reporte 2"</div>
                </div>
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"Reporte 3"</div>
                </div>
            </slide-toogle>
            <slide-toogle titulo="4" numero="4" class="slide-child">
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"Reporte 1"</div>
                </div>
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"Reporte 2"</div>
                </div>
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"Reporte 3"</div>
                </div>
            </slide-toogle>
            <slide-toogle titulo="5" numero="5" class="slide-child">
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"Reporte 1"</div>
                </div>
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"Reporte 2"</div>
                </div>
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"Reporte 3"</div>
                </div>
            </slide-toogle>
            <slide-toogle titulo="6" numero="6" class="slide-child">
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"Reporte 1"</div>
                </div>
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"Reporte 2"</div>
                </div>
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"Reporte 3"</div>
                </div>
            </slide-toogle>
            <slide-toogle titulo="7" numero="7" class="slide-child">
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"Reporte 1"</div>
                </div>
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"Reporte 2"</div>
                </div>
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"Reporte 3"</div>
                </div>
            </slide-toogle>
            <slide-toogle titulo="8" numero="8" class="slide-child">
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"Reporte 1"</div>
                </div>
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"Reporte 2"</div>
                </div>
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"Reporte 3"</div>
                </div>
            </slide-toogle>
        </div>


        <p class="titulo-divisas">
            DIVISAS, COMMODITIES, TASAS DE INTERÉS
        </p>


        <div class="tabla-tasas">

            <div class="tasas-informacion">
                <span class="info">MEX_CETES_28D</span>
                <span class="info">Tasas</span>
                <span class="info">Udls</span>
            </div>

            <div class="separador"></div>

            <div class="tasas-informacion">
                <span class="info">Tasa Actual</span>
                <span class="info">7.66500</span>
                <span class="info">5.974179</span>
            </div>

            <div class="separador"></div>

            <div class="tasas-informacion">
                <span class="info">Tasa Actual</span>
                <span class="info">7.66500</span>
                <span class="info">5.974179</span>
            </div>

            <div class="separador"></div>

            <div class="tasas-informacion">
                <span class="info">Variación (%)</span>
                <span class="info">0.009133</span>
                <span class="info">0.0014866</span>
            </div>

        </div>


        <p class="titulo-divisas">
            MERCADO BURSÁTIL
        </p>

      </div> 
      <br>
  </div>
</div>
