<div class="contenedor">
  <div class="box">
      <div class="titulo">
          <img src="/assets/img/icon_portafolio.png">
          <span>Reportes análisis económico y financiero.</span>
      </div>
      <div class="contenedor-content">

        <div class="slides">
            <slide-toogle title="Apertura de mercados" numero="1" class="slide-child">
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"REPORTE DIARIO CIBANCO 23 Enero 2018"</div>
                </div>
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"REPORTE DIARIO CIBANCO 22 Enero 2018"</div>
                </div>
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"REPORTE DIARIO CIBANCO 21 Enero 2018"</div>
                </div>
            </slide-toogle>
            <slide-toogle title="Notas económicas de temas de coyontura" numero="2" class="slide-child">
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"POSIBLE PRESION MODERADA DEL PESO MEXICANO PARA FIN DE AÑO"</div>
                </div>
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"ÚLTIMA DECISIÓN DEL AÑO DE POLÍTICA MONETARIA EN EUA  Y MÉXICO"</div>
                </div>
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"EXPECTATIVA DE TASAS DE INTERES DE FONDEO EN MEXICO PARA 2018"</div>
                </div>
            </slide-toogle>
            <slide-toogle title="Cierre de mercados" numero="3" class="slide-child">
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"CI Reporte de cierre de mercados 27 diciembre 2017"</div>
                </div>
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"CI Reporte de cierre de mercados 28 diciembre 2017"</div>
                </div>
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"CI Reporte de cierre de mercados 29 diciembre 2017"</div>
                </div>
            </slide-toogle>
            <slide-toogle title="Análisis de reportes trimestrales de emisora de la BMV" numero="4" class="slide-child">
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"EXPECTATIVA DE RESULTADOS DE 2017 PARA LAS EMISORAS"</div>
                </div>
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"REPORTES CORPORATIVOS DE EMISORAS DEL IPC 2T17"</div>
                </div>
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"REPORTES CORPORATIVOS DE EMISORAS DEL IPC 3T17"</div>
                </div>
            </slide-toogle>
            <slide-toogle title="Análisis semanal y perspectivas" numero="5" class="slide-child">
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"Indicadores económicos de coyontura18 DIC 17"</div>
                </div>
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"Indicadores económicos de coyontura18 DIC 18"</div>
                </div>
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"Indicadores económicos de coyontura18 DIC 19"</div>
                </div>
            </slide-toogle>
            <slide-toogle title="Recomendaciones de emisora de renta variable de corto plazo (Técnico)" numero="6" class="slide-child">
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"RECOMENDACIÓN CORTO PLAZO 20 DICIEMBRE 2017"</div>
                </div>
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"RECOMENDACIÓN CORTO PLAZO 21 DICIEMBRE 2017"</div>
                </div>
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"RECOMENDACIÓN CORTO PLAZO 22 DICIEMBRE 2017"</div>
                </div>
            </slide-toogle>
            <slide-toogle title="Expectativas de tipo de cambio" numero="7" class="slide-child">
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"EXPECTATIVAS DEL TIPO DE CAMBIO 2017 Y 2018 OCT 17"</div>
                </div>
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"EXPECTATIVAS DEL TIPO DE CAMBIO 2017 Y 2018 OCT 17"</div>
                </div>
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"EXPECTATIVAS DEL TIPO DE CAMBIO 2017 Y 2018 OCT 17"</div>
                </div>
            </slide-toogle>
            <slide-toogle title="Recomendaciones de emisora de renta variable de corto plazo (Fundamenetal)" numero="8" class="slide-child">
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"RECOMENDACIÓN CORTO PLAZO 20 DICIEMBRE 2017"</div>
                </div>
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"RECOMENDACIÓN CORTO PLAZO 21 DICIEMBRE 2017"</div>
                </div>
                <div class="reporte">
                    <i class="material-icons icono">picture_as_pdf</i>
                    <div class="reporte-texto">"RECOMENDACIÓN CORTO PLAZO 21 DICIEMBRE 2017"</div>
                </div>
            </slide-toogle>
        </div>


        <p class="titulo-divisas">
            DIVISAS, COMMODITIES, TASAS DE INTERÉS
        </p>


        <div class="tabla-tasas">

            <div class="tasas-informacion">
                <span class="info">MEX_CETES_28D</span>
                <span class="info">Tasas</span>
                <span class="info">Udls</span>
            </div>

            <div class="separador"></div>

            <div class="tasas-informacion">
                <span class="info bold">Tasa Actual</span>
                <span class="info">7.66500</span>
                <span class="info">5.974179</span>
            </div>

            <div class="separador"></div>

            <div class="tasas-informacion">
                <span class="info bold">Tasa Anterior</span>
                <span class="info"></span>
                <span class="info"></span>
            </div>

            <div class="separador"></div>

            <div class="tasas-informacion">
                <span class="info bold">Variación (%)</span>
                <span class="info">0.009133</span>
                <span class="info">0.0014866</span>
            </div>

        </div>


        <p class="titulo-divisas">
            MERCADO BURSÁTIL
        </p>
        <div>
          <span class="ult_actualizacion">Última Actualización</span>|  <span class="inf_actualizacion">15:16:01</span> | <span class="inf_actualizacion">02-02-2018</span>
        </div>
        <p class="titulo-divisas">BOLSAS</p>
        <div>
          <div class="grap_superior margin_bottom">
            <div>IPC</div>
            <div>DOLSPOT</div>
            <div>DJIA</div>
            <div>S&P500(EU)</div>
          </div>
          <div class="grap_superior flex_izq">
            <canvas class="grafica" id="myChart" height="120">{{ chart }}</canvas>
            <div class="grap_derecha">
              <span class="grap_sub_title">ÍNDICE/PRECIO($)</span>
              <span class="grap_sub_title_data">50280</span>
              <span class="grap_sub_title">VARIACIÓN(%) DIARIA</span>
              <span class="grap_sub_title_data">-0.39</span>
              <span class="grap_sub_title"> VARIACIÓN(%) MES</span>
              <span class="grap_sub_title_data">0.33</span>
              <span class="grap_sub_title">VARIACIÓN(%) EN EL AÑO</span>
              <span class="grap_sub_title_data">1500</span>
            </div>
          </div>
          <div>
            <span class="grap_footer">
              *Información con 20 minutos de retraso
            </span>
          </div>
        </div>

      </div>
      <br>
  </div>
</div>
