.titulo{
    font-family: OpenSans-Bold;
    font-size: 30px;
    margin-left: 35px;
}

.subtitulo{
    display: block;
    align-items: center;
    font-family: OpenSans-SemiBold;
    font-size: 14px;
}

hr{
    margin: 1rem 35px;
}

.renglon-informacion{
    display:flex;
    flex-flow:row wrap; 
    justify-content:space-between;
}

.mercado{
    font-family: OpenSans-Bold;
    font-size: 20px;
}
.equivalente{
    font-family: OpenSans-SemiBold;
    font-size: 14px;
}

.numero{
    font-family: OpenSans-Bold;
    font-size: 18px;
}

.footer{
    font-family: OpenSans-SemiBold;
    font-size: 14px;
}

.informacion{
    margin: 10px 35px;
}

.tabla-usd{
    margin: 10px 35px;
}

.footer{
    margin: 20px 35px;
}