<div class="titulo">
  <!--img src="/assets/img/icon_portafolio.png"-->
  <span>Portafolio USD</span>
  <div class="subtitulo">Posición total valores/con subyacente dólares</div>
</div>
<hr>
<div class="informacion">
  <div class="renglon-informacion">
    <span class="mercado">Mercado de Capitales</span>
    <span class="numero">$989.23 pesos*</span>
  </div>
  <div class="renglon-informacion">
    <span class="equivalente">Equivalente en dólares (Dato Informativo)</span>
    <span class="numero">$469.2 usd</span>
  </div>
</div>
<div id="tabla-usd">
  <p>aqui va la tabla</p>
</div>
<div class="footer">
  <div>*Activo cuyo subyacente está invertido en dólares.</div>
  <div>Por disposiciones de ley, estos se expresan en pesos div se liquidan en pesos.</div>
  <div>Tipo de cambio último día hábil del mes que publica el vector de precios 2018-12-12: $12.23</div>
</div>