<div class="titulo">
  <span>Portafolio USD</span>
  <div class="subtitulo">Posición total valores/con subyacente dólares</div>
</div>
<hr>
<div class="informacion">
  <div class="renglon-informacion">
    <span class="mercado">Mercado de Capitales</span>
    <span class="numero">$979,527.03 pesos*</span>
  </div>
  <div class="renglon-informacion">
    <span class="equivalente">Equivalente en dólares (Dato Informativo)</span>
    <span class="numero">$49,664.20 usd</span>
  </div>
</div>
<div class="tabla-usd">
  <tabla-mercado-capitales-usd></tabla-mercado-capitales-usd>
</div>
<div class="footer">
  <div>*Activo cuyo subyacente está invertido en dólares.</div>
  <div>Por disposiciones de ley, estos se expresan en pesos y se liquidan en pesos.</div>
  <div>Tipo de cambio último día hábil del mes que publica el vector de precios 2018-12-12: $12.23</div>
</div>