<div class="contenedor">
  <div class="box">
      <div class="titulo">
          <img src="/assets/img/icon_portafolio.png">
          <span>Historial de Movimientos</span>
      </div>
      <div class="contenedor-content">

        <div class="formularios">
            
            <form [formGroup]="selecFormGroup">
                <select formControlName="selectControl">
                    <option value="x" hidden>BUSCAR...</option>
                    <option value="1">POR RANGO DE FECHA</option>
                    <option value="2">POR PERIODO</option>
                </select>
            </form>
    
            <form [formGroup]="historialForm" (ngSubmit)="onSubmit()" *ngIf="select.value == 1" class="pickers">
    
                <mat-form-field class="example-full-width">
                    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker1" placeholder="Fecha Inicio" formControlName="fechaInicio">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
    
                <mat-form-field class="example-full-width">
                    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker2" placeholder="Fecha Fin" formControlName="fechaFin">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
    
                <button type="submit" class="boton-enviar" [disabled]="!historialForm.valid">BUSCAR</button>
    
            </form>
        </div>
      </div>
  </div>
</div>

<app-tabla-historial></app-tabla-historial>