<header>

<div class="header_superior">
  <img  class="img_logo" src="/assets/img/logo.png" >
  <span class="span_padre">
    <span>Contrato: <span>7533324</span></span>
    <span>
      <select>
        <option value="0" selected>Contacto asesor</option>
      </select>
    </span>
    <span>
      <img class="icono_logout" src="/assets/img/icon_logout.png" >
      <span class="logout" (click)="logout()">Cerrar Sesión</span>
    </span>
  </span>
</div>

<div class="menu topnav" id="myTopnav">
  <a class="icon-left"></a>
  <a routerLink="/portafolio" routerLinkActive="active" (click)="myFunction2()">Portafolio</a>
  <a routerLink="/capitales" routerLinkActive="active" (click)="myFunction2()">Mercado de Capitales</a>
  <a routerLink="/dinero" routerLinkActive="active" (click)="myFunction2()">Mercado de Dinero</a>
  <a routerLink="/inversion" routerLinkActive="active" (click)="myFunction2()">Fondos de Inversión</a>
  <a routerLink="/ordenes" routerLinkActive="active" (click)="myFunction2()">Órdenes</a>
  <a routerLink="/reportes" routerLinkActive="active" (click)="myFunction2()">Reporte de Análisis Financiero</a>


  <a >
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle micuenta" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mi Cuenta
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button" (click)="myFunction2()">Retiro</button>
          <button class="dropdown-item" type="button" (click)="myFunction2()">Estado de Cuenta</button>
          <button class="dropdown-item" type="button" (click)="myFunction2()">Historial de Movimientos</button>
          <button class="dropdown-item" type="button" (click)="myFunction2()">Configuración</button>
        </div>
    </div>
  </a>

  <!-- <a >
    <select class="dropdown" >
      <option value="0" selected></option>
      <option value="1" ></option>
      <option value="2" ></option>
      <option value="3" ></option>
      <option value="4" >Configuración</option>
    </select>
  </a> -->
  <a href="http://www.cibanco.com/es/cibanco/cicasa-de-bolsa" target="_blank">Sitio Web</a>
  <span class="aref">
      <img class="icono_logout" src="/assets/img/icon_logout.png" >
      <span class="logout" (click)="logout()">Cerrar Sesión</span>
  </span>
  <a class="icon" (click)="myFunction()">&#9776;</a>
</div>

</header>


<div class="contenedor-fecha">
  <div class="fecha_sibling"></div>
  <app-fecha></app-fecha>
</div>
<div class="contenedor">

  <app-ticker></app-ticker>

  <app-buscador></app-buscador>
</div>