<header>

<div class="header_superior">
  <img  class="img_logo" src="/assets/img/logo.png" >
  <span>
    <span>Contrato: <span>7533324</span></span>
    <span>Contacto Asesor :</span>
    <span>Cerrar Sesión</span>
  </span>
</div>

<div class="menu">
  <span>Portafolio</span>
  <span>Mercado de Capitales</span>
  <span>Mercado de Dinero</span>
  <span>Fondos de Inversión</span>
  <span>Órdenes</span>
  <span>Reporte de Análisis Financiero</span>
  <span><select>
    <option value="0" selected>Mi Cuenta</option>
  </select></span>
  <span>Sitio Web</span>
</div>

</header>
<button type="button" class="btn btn-primary" (click)="logout()">Cerrar Sesión</button>