header{
    margin: 0 35px;
    background-image: url("/assets/img/header_BG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
}
.header_superior{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 15px 20px;
}
.menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 15px 20px;
    padding-bottom: 0;
}
.img_logo{
    width: 25%;
    height: 25%;
}
select{
    -webkit-appearance: caret;
    background-image: url("/assets/img/icono_arrow_down.png");
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: right;
    background-position-y: 8px;
    background-color: transparent;
    color: whitesmoke;
    padding: 0px 4px;
    outline: none;
}
a{
    color:whitesmoke;
    padding: 10px;
    padding-top: 2px;
}
a:hover, .active{
    text-decoration: none;
    background-color:#00853e;
    border-radius: 5px 5px 0px 0px;
}
.logout{
    cursor: pointer;
}
.icono_logout{
    width: 15px;
}
.span_padre span{
    margin: 0 5px;
}
.micuenta,micuenta:hover,micuenta:focus,micuenta:active{
    background-color: transparent;
    border-color: transparent;
    outline: none;
}

.dropdown.show .micuenta,.btn-secondary,.btn-secondary:hover,.show>.btn-secondary.dropdown-toggle,.btn-secondary:not(:disabled):not(.disabled):active{
    background: transparent;
    border: none;
    outline: none;
}
.btn{
    padding: 0px;
    outline: none;
}
