<header>

<div class="header_superior">
  <img  class="img_logo" src="/assets/img/logo.png" >
  <span class="span_padre">
    <span>Contrato: <span>7533324</span></span>
    <span>
      <select>
        <option value="0" selected>Contacto asesor</option>
      </select>
    </span>
    <span>
      <img class="icono_logout" src="/assets/img/icon_logout.png" >
      <span class="logout" (click)="logout()">Cerrar Sesión</span>
    </span>
  </span>
</div>

<div class="menu topnav" id="myTopnav">
  <a routerLink="/portafolio" routerLinkActive="active">Portafolio</a>
  <a routerLink="/capitales" routerLinkActive="active">Mercado de Capitales</a>
  <a routerLink="/dinero" routerLinkActive="active">Mercado de Dinero</a>
  <a routerLink="/inversion" routerLinkActive="active">Fondos de Inversión</a>
  <a routerLink="/ordenes" routerLinkActive="active">Órdenes</a>
  <a routerLink="/reportes" routerLinkActive="active">Reporte de Análisis Financiero</a>


  <a >
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle micuenta" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mi Cuenta
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">Retiro</button>
          <button class="dropdown-item" type="button">Estado de Cuenta</button>
          <button class="dropdown-item" type="button">Historial de Movimientos</button>
          <button class="dropdown-item" type="button">Configuración</button>
        </div>
    </div>
  </a>

  <!-- <a >
    <select class="dropdown" >
      <option value="0" selected></option>
      <option value="1" ></option>
      <option value="2" ></option>
      <option value="3" ></option>
      <option value="4" >Configuración</option>
    </select>
  </a> -->
  <a href="http://www.cibanco.com/es/cibanco/cicasa-de-bolsa" target="_blank">Sitio Web</a>
  <span class="aref">
      <img class="icono_logout" src="/assets/img/icon_logout.png" >
      <span class="logout" (click)="logout()">Cerrar Sesión</span>
    </span>
  <a class="icon" (click)="myFunction()">&#9776;</a>
</div>

</header>

<div class="col-xs-11 col-sm-11 col-md-7  tablaFondo">
  <div class="col-xs-11 col-sm-11 col-md-12 tabla table-responsive">
    <div class="columnas columipc">
      <p class="tituloColumnas ipc">IPC</p>
      <p class="ipc inter cantidades">{{ ipc }}</p>
      <p class="ipc cantidades cancolor">-39.73(-0.16%)</p>
    </div>
    <div class="columnas columdow">
      <p class="tituloColumnas">Dow Jones</p>
      <p class="inter cantidades">{{ dowJones }}</p>
      <p class="cantidades cancolor">-39.73(-0.16%)</p>
    </div>
    <div class="columnas">
      <p class="tituloColumnas">NASDAQ</p>
      <p class="inter cantidades">{{ nasdaq }}</p>
      <p class="cantidades cancolor">+14.16(+0.21%)</p>
    </div>
    <div class="columnas">
      <p class="tituloColumnas usd">USD</p>
      <div class="tablitas">
        <p class="columcan">COMPRA</p>
        <p class="columcan">VENTA</p>
      </div>
      <div class="tablitas">
        <p class="cantidades can2">{{ dolarbuy }}</p>
        <p class="cantidades can2">{{ dolarsell }}</p>
      </div>
    </div>
    <div class="columnas">
      <p class="tituloColumnas eur">EUR</p>
      <div class="tablitas">
        <p class="columcan">COMPRA</p>
        <p class="columcan">VENTA</p>
      </div>
      <div class="tablitas">
        <p class="cantidades can2">{{ eurcompra }}</p>
        <p class="cantidades can2">{{ eurventa }}</p>
      </div>
    </div>
    <div class="columnas">
      <p class="tituloColumnas">CAD</p>
      <div class="tablitas">
        <p class="columcan">COMPRA</p>
        <p class="columcan">VENTA</p>
      </div>
      <div class="tablitas">
        <p class="cantidades can2">{{ cadcompra }}</p>
        <p class="cantidades can2">{{ cadventa }}</p>
      </div>
    </div>
</div>
</div>
