<div *ngIf="!showtokenscreen">
  <div class="contenedor">
    <img class="logo" src="../..assets/img/logo.png">
    <h2>Ingresar</h2>
    
    
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="group">
        <input type="text" required  (keydown)="filterAlpha($event)" (paste)="pasteNumber($event)" formControlName="name">
        <label >NOMBRE DE USUARIO</label>
        <div *ngIf="name.invalid && (name.dirty || name.touched)">
            <div *ngIf="name.errors.required" class="error">
              El nombre es requerido.
            </div>
            <div *ngIf="name.errors.maxlength" class="error">
              El nombre no puede tener mas de 20 caracteres.
            </div>
        </div>
      </div>
      <div class="group">
        <input type="password"  required formControlName="password">
        <label >CONTRASEÑA</label>
        <div *ngIf="password.invalid && (password.dirty || password.touched)">
            <div *ngIf="password.errors.required" class="error">
              El password es requerido.
            </div>
        </div>
      </div>
      <button type="submit" [disabled]="!loginForm.valid">Continuar</button>
    </form>
    <!-- <button class="miboton">ok</button> -->
      
  
    <!-- <p>Form value: {{ loginForm.value | json }}</p>
    <p>Form status: {{ loginForm.status | json }}</p>
    <p>Form status: {{ loginForm.valid | json }}</p> -->
  </div>
</div>

<div *ngIf="showtokenscreen">
  <div class="contenedor">
    <img class="logo" src="../..assets/img/logo.png">
    <h2>Ingresar</h2>

    <h3>Introduce la clave dinámica de tu Token</h3>
  
    <form [formGroup]="tokenForm" (ngSubmit)="onTokenSubmit()">
      <div class="group">
        <input type="text"  required (keydown)="filterNumber($event)" formControlName="value">
        <label class="label_light">CLAVE DINÁMICA</label>
        <div *ngIf="token.invalid && (token.dirty || token.touched)">
            <div *ngIf="token.errors.required" class="error">
              La clave dinámica es requerida.
            </div>
            <div *ngIf="token.errors.maxlength || token.errors.minlength" class="error">
              La clave dinámica debe tener 8 numeros.
            </div>
        </div>
      </div>
      <button type="submit" [disabled]="!tokenForm.valid">Ingresar</button>
    </form>
  
    <!-- <p>Form value: {{ loginForm.value | json }}</p>
    <p>Form status: {{ loginForm.status | json }}</p>
    <p>Form status: {{ loginForm.valid | json }}</p> -->
  </div>
</div>
<app-alert></app-alert>


