.contenedor{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.box{
    background-color: white;
    box-shadow: 1px 2px 10px #aaaaaa;
}

.titulo{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    font-family: OpenSans-Bold;
    font-size: 30px;
    margin: 10px 20px;
}

select{
    -moz-appearance: none;
    -webkit-appearance: none;
    font-family: OpenSans-Regular;
    font-size: 18px;
    color: #267349;
    padding: 0px 4px; 
    outline: none;
    background: transparent url(/assets/img/icon_arrowDown_verde.png) right center / 1.4em no-repeat;
    border: none;
    border-bottom: 1px solid #7a7a7a;
    margin-right: 10px;
    width: 230px;
    
}

.centrado{
    justify-content: center;
}

.marginTop{
    margin-top: 40px;
    margin-bottom: 40px;
}

.placeholder{
    color: gray;
}

.centrar{
    text-align: center;
    color: #267349;
    font-weight: bold;
}