.minutos{
    font-family: ProximaNova;
    font-size: 16px;
    text-align: center;
    color: #4a4a4a;
    margin-top: 48px;
}

.minutos.continuar{
    margin-top:0px;
    font-weight: bold;
}

.advertencia{
    font-family: ProximaNova;
    font-size: 24px;
    letter-spacing: 3.1px;
    text-align: center;
    margin-top: 27px;
    color: #06234a;
}

.botonCancelar{
    background-color: #252525;
    border: 0px;
    font-family: ProximaNova;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    padding: 14px 55px;
    border-radius: 5px;
    cursor:pointer;
    text-decoration: none;
    margin-right: 20px;
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
}

.botonAceptar{
    background-color: #ed6811;
    border: 0px;
    font-family: ProximaNova;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    padding: 14px 55px;
    border-radius: 5px;
    cursor:pointer;
    text-decoration: none;
    box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
}

.botones{
    margin-top: 50px;
    text-align: center;
}


.modal-content{
    border-radius: 0px;
}

.modal-footer{
  border-top: 0px solid #e5e5e5;

}
