<div class="container configuracion">
  <div class="col-lg-9 offset-lg-1 box">
    <div class="titulo">
      <span>
        <i class="material-icons">settings</i>Configuración</span>
    </div>
    <div class="col-lg-8 offset-lg-1 top">
      <h5 class="negrita font">Información</h5>
      <hr>
      <div class="flex">
        <div class="interlineado3 anchoinfo1">
          <p class="contratoText">Contrato</p>
          <p class="negrita">78355634</p>
          <p style="line-height: 24px !important;">J*** M**** Z*****</p>
        </div>
        <div class="interlineado3 anchoinfo2">
          <p class="contratoText">Correo electrónico</p>
          <p class="negrita">Jmartinez@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="col-lg-8 offset-lg-1 top">
      <h5 class="negrita font">Seguridad</h5>
      <hr>
      <div class="flex ">
        <div class="segu1">
          <p class="negrita">Habilitar contraseña dinámica para operar</p>
          <p class="contratoText">Para realizar cualquier operación será necesario ingresar clave dinámica</p>
        </div>
        <div class="segu2">
          <mat-slide-toggle [color]="green" [(ngModel)]="silde1" [ngClass]=" { 'mat-cheked' : false } "></mat-slide-toggle>
        </div>
        <pre>{{ silde1 }}</pre>
      </div>
    </div>
    <div class="col-lg-6 offset-lg-1  top">
      <div class="interlineado3 centrado">
        <h5 class="negrita font">Notificaciones</h5>
        <p class="contratoText">Operaciones: compra, venta, retiro</p>
      </div>
      <div class="flex lineHeight">
        <div class="segu1">
          <p font>Correo electrónico</p>
          <p>SMS</p>
        </div>
        <div class="altoLineaSlideToggle">
          <div>
            <mat-slide-toggle [color]="color"></mat-slide-toggle>
          </div>
          <div>
            <mat-slide-toggle [color]="green"></mat-slide-toggle>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>