<div class="box">
    <div class="titulo">
      <i class="material-icons">equalizer</i>
      <span>Fondos de Inversión</span>
    </div>
    <div class="saldofi">
      <span class="saldo">SALDO DISPONIBLE:</span>
      <span class="saldo-dinero"> $1,846,746.29</span>
    </div>
<div class="table-responsive">
        <div class="table">
        <mat-table [dataSource]="dataInversion" matSort matSortActive="fondo" matSortDirection="asc" matSortDisableClear>
        <ng-container matColumnDef="fondo">
                <mat-header-cell *matHeaderCellDef>Fondo</mat-header-cell>
                <mat-cell *matCellDef="let fondos">{{ fondos.fondo }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="serie">
                <mat-header-cell *matHeaderCellDef>Serie</mat-header-cell>
                <mat-cell *matCellDef="let fondos">{{ fondos.serie }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="operar">
                <mat-header-cell *matHeaderCellDef>Operar</mat-header-cell>
                <mat-cell *matCellDef="let fondos"><button type="button" class="btn btn-primary btn-row" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="material-icons">monetization_on</i></button></mat-cell>
                <button mat-button>Click me!</button>
              </ng-container>
              <ng-container matColumnDef="clasificacion">
                <mat-header-cell *matHeaderCellDef>Clasificación</mat-header-cell>
                <mat-cell *matCellDef="let fondos">{{ fondos.clasificacion }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="liquidacion">
                <mat-header-cell *matHeaderCellDef>Liquidación</mat-header-cell>
              <mat-cell  *matCellDef="let fondos">{{ fondos.liquidacion }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="horizonte">
                <mat-header-cell *matHeaderCellDef>Horizonte</mat-header-cell>
                <mat-cell  *matCellDef="let fondos">{{ fondos.horizonte }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="maxima">
                <mat-header-cell *matHeaderCellDef>Var. Máxima</mat-header-cell>
                <mat-cell  *matCellDef="let fondos">{{ fondos.maxima }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="calificacion">
                <mat-header-cell *matHeaderCellDef>Calificación</mat-header-cell>
                <mat-cell  *matCellDef="let fondos">{{ fondos.calificacion }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="horario">
                <mat-header-cell *matHeaderCellDef>Horario de Operación</mat-header-cell>
                <mat-cell  *matCellDef="let fondos">{{ fondos.horario }}</mat-cell>
              </ng-container>
        <mat-header-row *matHeaderRowDef="displayedFondosColumn"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedFondosColumn"></mat-row>
        </mat-table>
        
        
        </div>
        </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal1">
      <div class="modal-content modalbordeizquierda ">
        <div class="generalmodalfi">
            <div class="divonemodalfi">
              <p class="texto1modal">+CIGUB</p>
              <p class="texto2modal">+CIGUB CIGUBERNAMENTAL, S.A. DE C.V, F.I.I.D</p>
              <p class="texto3modal">Serie: C-4</p>
              <p class="texto3modal">Clasificación: Gubernamental</p>
              <a class="linkmodal" href="#">Mas información del Fondo </a>
            </div>
            <div class="divtwomodalfi">
              <form [formGroup]="fondoinversion1Form" (ngSubmit)="onSubmit()">
              <div>
                <button class="btn btn-warning">COMPRA</button>
                <button class="btn btn-outline-secondary">VENTA</button>
              </div>
              <p>Precio: $3.654009</p>
                <mat-form-field class="example-full-width">
                <input matInput placeholder="Cantidad a Invertir" type="number" class="inputsverde" formControlName="montoInvertir">
                </mat-form-field>
                <p>Mínimo: $10,000.00</p>
                <div>
                    <button class="btn btn-success btn-comprar-modal" data-toggle="modal" data-target="#exampleModalCenter" data-dismiss="modal" [disabled]="!fondoinversion1Form.valid">Comprar</button>
                </div>
              </form>
            </div>
            <div class="divthreemodalfi">
              <p class="saldomodal1">Saldo disponible</p>
              <p class="catidadsaldomodal1">$1,846,746.29</p>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-lg modalconfirmacion" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="centrado tituloconfirmacion"><p class="textolateralconfirmacion">Compra</p><i class="material-icons">assignment</i><span>Confirmación</span></div>
            <div class="detalleConfirmacion">
                <div class="flex"><p>+CIGUB.</p><p>+CIGUB CIGUBERNAMENTAL, S.A. DE C.V, F.I.I.D</p></div>
                <div class="flex"><p>Precio</p><p>$3.654009</p></div>
                
              </div>
              <div class="centrado totalconfirmacion"><p>Total: $25,000.00</p></div>
              <p class="vigencia"><i class="material-icons">alarm</i>La vigencia de tu operación es de hoy 12/12/17 al cierre del mercado</p>
          </div>
          <div class="modal-footer justifyContent">
            <button type="button" class="btn btn-outline-danger sinborde btn-radius" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-success btn-radius" data-dismiss="modal" data-toggle="modal" data-target=".bd-example-modal-sm">Confirmar</button>
          </div>
        </div>
      </div>
    </div>

    

    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <form [formGroup]="contradinamicafondoinversion"></form>
            <h5 class="titulo-modal">Contraseña dinámica</h5>
            <div class="contenido">
              <p class="mensaje">Desde su dispositivo móvil genera una clave dinamica e ingrésala a continuación</p>
              <input class="input-token" type="text" formControlName="token">
            </div>
            <div class="modal-footer justifyContent">
                <button type="button" class="btn btn-outline-danger sinborde btn-radius" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success btn-radius" data-dismiss="modal" data-toggle="modal" data-target="#enviosuccess" [disabled]="!contradinamicafondoinversion.valid">Confirmar</button>
              </div>
          </div>

        </div>
      </div>

      <div class="modal fade" id="enviosuccess" tabindex="-1" role="dialog" aria-labelledby="miModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-body">
                      <div class="titulo-modal">
                          <span>Envío exitoso</span>
                      </div>
      
                      <div class="contenido">
                          <p>Operación registrada con éxito</p>
                          <p>Folio: 87652</p>
                      </div>
                      
                      <div class="reportes-footer">
                          <button class="btn btn-outline-danger  sinborde btn-radius" data-dismiss="modal">Cancelar</button>
                          <button class="btn btn-success btn-radius" data-dismiss="modal">Confirmar</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>