.aviso{
    margin-top: 35px;
}

.header_aviso{
    background-image: url("/assets/img/header_BG.jpg");
    height: 50px;
    color: whitesmoke;
    font-size: 25px;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 10px;
    border-radius: 5px 5px 0px 0px;
}

.titulo{
    background-color: #f5f5f5;
    font-weight:bold;
    height: 40px;
    padding: 10px 15px;
    font-size: 18px;
}

.cuerpo_aviso{
    padding:15px 15px;
    border-radius: 0 0 5px 5px;
    min-height: 180px;
}