<div class="container">
   
    <div class="grafica" >
        <h1>Portafolio</h1>
        <canvas id="myChart"></canvas>
        <p></p>
        <div class="informacion">
            
            <div>
                <p>
                    Efectivo liquido
                </p>
                <b>
                    $38,746.78
                </b>
            </div>
            <div>
                    <p>
                            24 hr.
                        </p>
                        <b>
                            $8,796.78
                        </b>

            </div>
            <div>
                    <p>
                            48 hr.
                        </p>
                        <b>
                            $18,746.78
                        </b>

            </div>
            <div>
                <p>
                    Total Portafolio
                </p>
                <b>
                    $188,245.98
                </b>
            </div>
            <div>
                <p>
                Gran Total
                </p>
                <b class="gran-total">
                    $888,982.90
                </b>

            </div>
        </div>
    </div>

</div>
