.informacion{
    display:flex; 
    flex-flow:row wrap; 
    justify-content:space-around;
}

.gran-total{
    color: #00853e;
    font-size: 25px;
}

.box{
    display:flex;
    margin: 35px;
}

.box-1{
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(119, 134, 147, 0.16);
    margin-right: 25px;
    flex: 2;
}

.box-2{
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(119, 134, 147, 0.16);
    flex: 1;
}

.graficas{
    display: flex;
    justify-content: space-around;
}

.grafica{
    width: 600px;
}

.checks{
    align-self: center;
}

fieldset{
    display: flex;
}

.informacion div{
    font-family: Roboto-Regular;
}

.marcador{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}

.marcador span{
    font-family: Roboto-Bold;
}

.titulo{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    font-family: OpenSans-Bold;
    font-size: 30px;
}

.titulo img{
    width: 0.7em;
    margin: 5px;
}