<div class="box">
    <div class="box-1">
        <div class="titulo">
            <img src="/assets/img/icon_portafolio.png">
            <span>Portafolio</span>
        </div>
        <div class="graficas">
            <div class="grafica">
                <canvas id="myChart" width="" height="89">{{ chart }}</canvas>
            </div>
            <div class="checks">
                <fieldset>
                    <label class="checks">
                      <input  type="radio" checked="checked" name="color" value="azul"> 1 mes
                      <span class="checkmark"></span>
                    </label>
                    <label class="checks">
                      <input type="radio" name="color" value="negro"> 6 meses
                      <span class="checkmark"></span>
                    </label>
                    <label class="checks">
                      <input type="radio" name="color" value="amarillo"> 1 año
                      <span class="checkmark"></span>
                    </label>
                </fieldset>
            </div>
        </div>
        <div class="informacion">
                <div class="marcador">
                    <label>Efectivo Líquido</label>
                    <span>$38,746.78</span>
                </div>
                <div class="marcador">
                    <label>24 hr.</label>
                    <span>$8,796.78</span>
                </div>
                <div class="marcador">
                    <label> 48 hr.</label>
                    <span>$18,746.78</span>
                </div>
                <div class="marcador">
                    <label> Total Portafolio</label>
                    <span> $188,245.98</span>
                </div>
                <div class="marcador">
                    <label>Gran Total</label>
                    <span class="gran-total">$888,982.90</span>
                </div>
        </div>
        <hr>
        <ordenes-pendientes-tabla title="Órdenes Pendientes" numero="1">
            <tabla-ordenes-pendientes></tabla-ordenes-pendientes>
        </ordenes-pendientes-tabla>
        <br><hr>
        <ordenes-pendientes-tabla title="Mercado de Capitales" numero="2">
            <tabla-mercado-capitales></tabla-mercado-capitales>
        </ordenes-pendientes-tabla>
        <br><hr>
        <ordenes-pendientes-tabla title="Mercado de Dinero" numero="3">
            <tabla-mercado-dinero></tabla-mercado-dinero>
        </ordenes-pendientes-tabla>
    </div>
    <div class="box-2">
        2
    </div>
</div>
