<div class="contenedor">
  <div class="box">
      <div class="titulo">
          <img src="assets/img/icon_portafolio.png">
          <span>Retiro</span>
      </div>
      <div class="contenedor-content">

            <div class="punto-label-content">
                <div class="puntolabel">
                    <i class="material-icons verde" *ngIf="pantalla=='Verificar' || pantalla=='Comprobar'; else selecionar">check_circle</i>

                    <ng-template #selecionar>
                        <div class="puntolabel-punto" [class.active]="pantalla=='Seleccionar'"></div>
                    </ng-template>

                    <label class="puntolabel-label">Selecciona...</label>
                </div>
                <div class="puntolabel">
                    <i class="material-icons verde" *ngIf="pantalla=='Comprobar'; else verified">check_circle</i>

                    <ng-template #verified>
                        <div class="puntolabel-punto" [class.active]="pantalla=='Verificar'"></div>
                    </ng-template>

                    <label class="puntolabel-label">Verifica...</label>
                </div>
                <div class="puntolabel">
                    <i class="material-icons verde" *ngIf="pantalla=='Comprobar'">check_circle</i>
                    <div class="puntolabel-punto" *ngIf="pantalla!='Comprobar'"></div>

                    <label class="puntolabel-label">Comprobante...</label>
                </div>
            </div>
            <div class="linea-horizontal"></div>

            <ng-container [ngSwitch]="pantalla">
                <ng-container *ngSwitchCase="'Seleccionar'">

                    <div class="contrato-saldo-container">
                        <div class="contrato-container">
                            <span class="contrato-label">Contrato</span>
                            <span class="contrato-numero">78355634</span>
                            <span class="contrato-titular">J*** M**** Z*****</span>
                        </div>
                        <div class="saldo-container">
                            <span class="saldo-label">SALDO DISPONIBLE</span>
                            <span class="saldo-cantidad">78355634</span>
                        </div>
                    </div>

                    <hr class="separador">

                    <form  [formGroup]="retiroForm" (ngSubmit)="onRetiroSubmit()">
                        <select formControlName="cuenta">
                            <option class="placeholder" value="" disabled selected hidden>CUENTA DESTINO...</option>
                            <option value="CIBANCO ****2289">CIBANCO ****2289</option>
                            <option value="INBURSA ****6536">INBURSA ****6536</option>
                            <option value="BANCOMER ****6457">BANCOMER ****6457</option>
                        </select>

                        <input class="input-monto" type="text" placeholder="IMPORTE" formControlName="importe">

                        <div class="retiroForm-botones">
                            <button class="boton-enviar" type="submit" [disabled]="!retiroForm.valid">SIGUIENTE</button>
                            <button class="boton-cancelar" type="button" (click)="cancel()">Cancelar</button>
                        </div>

                    </form>

                </ng-container>

                <ng-container *ngSwitchCase="'Verificar'">
                    <div class="contrato-saldo-container">
                        <div class="contrato-container">
                            <span class="contrato-label">Contrato</span>
                            <span class="contrato-numero">78355634</span>
                            <span class="contrato-titular">J*** M**** Z*****</span>
                        </div>
                        <div class="saldo-container">
                            <span class="saldo-label">SALDO DISPONIBLE</span>
                            <span class="saldo-cantidad">78355634</span>
                        </div>
                    </div>

                    <hr class="separador">

                    <p>Confima que los datos ingresados sean correctos</p>

                    <div class="cuenta-destino">
                        <div class="cuenta">
                            <span>Cuenta Destino:</span>
                            <span>{{ cuenta }}</span>
                        </div>

                        <div class="destino">
                            <span>Importe:</span>
                            <span>${{ importe }}</span>
                        </div>
                    </div>

                    <div class="botones">
                        <button class="boton-enviar" (click)="showTokenValidate()">SIGUIENTE</button>
                        <button class="boton-cancelar" (click)="cancel()">Cancelar</button>
                    </div>


                </ng-container>

                <ng-container *ngSwitchCase="'Comprobar'">

                    <div class="comprobacion">
                        <span class="comprobacion-transferencia">
                            <i class="material-icons verde">check_circle</i>
                            Transferencia en Proceso</span>
                        <span class="comprobacion-operacion">Operación Registrada con éxito</span>
                    </div>

                    <div class="ticket">
                        <div>
                            <span>Folio</span>
                            <span>897798797</span>
                        </div>

                        <div>
                            <span>Cuenta Destino</span>
                            <span>{{ cuenta }}</span>
                        </div>
                        <div>
                            <span>Importe</span>
                            <span>{{ importe }}</span>
                        </div>
                        <div>
                            <span>Fecha</span>
                            <span>06/12/18</span>
                        </div>
                        <div>
                            <span>Hora</span>
                            <span>12:35</span>
                        </div>


                    </div>
                        <div class="comprobacion-footer">
                            <span>
                                Imprimir
                            </span>

                            <span>
                                Guardar
                            </span>

                            <span (click)="cancel()">
                                Realizar otro retiro
                            </span>

                        </div>
                </ng-container>

                <ng-container *ngSwitchDefault>
                    Algo ocurrio mal, intentelo de nuevo.
                </ng-container>

            </ng-container>



      </div>
      <br>
  </div>
</div>



<div class="modal fade" id="contraseniaDinamica" tabindex="-1" role="dialog" aria-labelledby="miModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="titulo-modal">
                    <span>Contraseña Dinámica</span>
                </div>

                <div class="contenido">
                    <span class="mensaje">
                        Desde tu dispositivo móvil genera una clave dinámica e ingrésala a continuación.
                    </span>
                    <input class="input-token" type="text">
                </div>

                <div class="reportes-footer">
                    <button class="cancelar" data-dismiss="modal">Cancelar</button>
                    <button class="confirmar" (click)="onTokenValidate()">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>
